
aiofiles==24.1.0  
aiorwlock==1.4.0  
fastapi==0.111.1  
httpx==0.28.1  
httpx[http2]==0.28.1  
humanfriendly==10.0  
hypercorn==0.17.3  
idna==3.10  
ipaddress==1.0.23  
nanoid==2.0.0  
numpy==1.24.4  
opentelemetry-api==1.25.0  
opentelemetry-exporter-otlp-proto-common==1.25.0  
opentelemetry-exporter-otlp-proto-http==1.25.0  
opentelemetry-exporter-zipkin-json==1.30.0  
opentelemetry-exporter-zipkin-proto-http==1.30.0  
opentelemetry-exporter-zipkin==1.30.0  
opentelemetry-instrumentation-asgi==0.46b0  
opentelemetry-instrumentation-fastapi==0.46b0  
opentelemetry-instrumentation==0.46b0  
opentelemetry-proto==1.25.0  
opentelemetry-sdk==1.25.0  
opentelemetry-semantic-conventions==0.46b0  
opentelemetry-util-http==0.46b0  
option==2.1.0  
prometheus-client==0.21.1  
prometheus-fastapi-instrumentator==7.0.2  
pydantic==2.11.7
pyparsing==3.2.1
# python-dotenv==1.0.1  
python-multipart==0.0.9  
requests==2.32.3  
retry==0.9.2  
uvicorn==0.30.6  
uvicorn[standard]==0.30.6  
python-dotenv>=1.1.0,<2.0.0 
wrapt==1.17.2  
wsproto==1.2.0  
gunicorn 
tenacity
--extra-index-url https://test.pypi.org/simple
mictlanxrm==0.0.161a33
--extra-index-url https://test.pypi.org/simple
mictlanx ==0.0.161a34
--extra-index-url https://test.pypi.org/simple
xolo==0.0.9a8
